<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackDelay - Datenvisualisierung</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>TrackDelay - Datenvisualisierung</h1>
    </header>

    <div class="container">
        <div class="card">
            <h1 class="error">Error :&#40;</h1>
            <h2>Sorry, there is an issue with the database</h2>
        </div>

        <div class="card">
            <h2>Anzahl der Züge</h2>
            <p>Die Anzahl der abgerufenen Züge beträgt derzeit: <strong>{{anzahl_zuege}}</strong>.</p>
            <p>Betrachtete Bahnhöfe:  <strong>{{bahnhoefe}}</strong></p>
        </div>

        <div class="card">
            <h2>Verspätungen</h2>
            <p>Durchschnittliche Verspätung: <strong>{{verspaetung_in_min}} Minuten</strong></p>
            <p>Medianverspätung: <strong> / </strong></p>
            <p>Höchste Verspätung: <strong> {{hoechste_verspaetung_zug}} mit {{hoechste_verspaetung}} Minuten </strong></p>
            <p>Bahnhof mit den meisten Verspätungen: <strong> {{bahnhof_mit_hoechster_durchschnitt_verspaetung}} </strong> mit durchschnittlich <strong>{{bahnhof_mit_hoechster_durchschnitt_verspaetung_minuten}} Minuten </strong> Verspätung.</strong></p>
            <p>Zuglinie mit der höchsten durchschnittlichen Verspätungen: <strong> {{linie_mit_hoechster_durchschnitt_verspaetung}} </strong> mit durchschnittlich <strong>{{linie_mit_hoechster_durchschnitt_verspaetung_minuten}} Minuten </strong> Verspätung. </p>
        </div>

        <div class="card">
            <h2>Ausfallwahrscheinlichkeit</h2>
            <p>Die durchschnittliche Ausfallwahrscheinlichkeit beträgt: <strong> {{ausfallwahrscheinlichkeit}} % </strong></p>
        </div>

        <div class="card">
            <h2>Wochenstatistik</h2>
            <p>Bahnhof mit höchster Verspätung der Woche: <strong>{{bahnhof_mit_hoechster_durchschnitt_verspaetung_woche}}</strong> mit <strong>{{bahnhof_mit_hoechster_durchschnitt_verspaetung_minuten_woche}}</strong> Minuten</p>
            <p>Linie mit höchster durchschnittlichen Verspätung der Woche: <strong>{{linie_mit_hoechster_durchschnitt_verspaetung_woche}}</strong> mit <strong>{{linie_mit_hoechster_durchschnitt_verspaetung_minuten_woche}}</strong> Minuten</p>
            <p>Die höchste Verspätung diese Woche hat die Zuglinie: <strong>{{hoechste_verspaetung_zug_woche}}</strong> mit <strong>{{hoechste_verspaetung_woche}}</strong> Minuten</p>
        </div>

        <div class="card">
            <h2>Tagestatistik</h2>
            <p>Die Daten der letzen Tage:</p>
            <table border="1">
                <thead>
                  <tr>
                    <th>Datum</th>
                    <th>Anzahl Züge</th>
                    <th>Durchschnittliche Verspätung</th>
                    <th>Maximale Verspätung</th>
                    <th>Ausgefallene Züge</th>
                    <th>Alle Züge</th>
                    <th>Ausfallwahrscheinlichkeit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for index in tagesstatistik%}
                  <tr>
                    <td>{{ index[0] }}</td>
                    <td>{{ index[1] }}</td>
                    <td>{{ index[2] }} Minuten</td>
                    <td>{{ index[3] }} Minuten</td>
                    <td>{{ index[4] }}</td>
                    <td>{{ index[5] }}</td>
                    <td>{{ index[6] }} %</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <div class="card">
            <h2>RB50</h2>
            <p>Anzahl RB50 Gesamt: <strong> {{rb50_anzahl}} </strong></p>
            <p>Die durchschnittliche Verspätung beträgt: <strong> {{rb50_verspaetung}} Minuten </strong></p>
            <p>Die durchschnittliche Ausfallwahrscheinlichkeit: <strong> {{rb50_ausfallwahrscheinlichkeit}} % </strong></p>
        </div>

        <div class="chart-container">
            <!-- Hier können Diagramme eingefügt werden -->
            <!-- Zum Beispiel mit Chart.js oder D3.js -->
        </div>
    </div>

    <footer>
        <p>&copy; 2024 TrackDelay - Alle Rechte vorbehalten.</p>
        <p>&copy; GitHub: <a href="https://github.com/MichaelMrt/TrackDelay">https://github.com/MichaelMrt/TrackDelay</a></p>
        <p>{{log_content}}</p>

    </footer>
</body>
</html>
